<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.a1bum.dao.LoginHistoryMapper">
<resultMap type="top.a1bum.entity.BroswerTop4" id="top4Map">
	<result property="broswer_name" column="broswer_name"/>
	<result property="broswer_count" column="broswer_count"/>
</resultMap>
	<insert id="addLoginHistory" parameterType="top.a1bum.entity.LoginHistory">
		INSERT INTO 
		login_history(account, broswer_name, broswer_type, broswer_version, os_name, device_type, user_ip, login_success, login_time)
		VALUES(#{account}, #{broswer_name}, #{broswer_type}, #{broswer_version}, #{os_name}, #{device_type}, #{user_ip}, #{login_success}, #{login_time})
	</insert>
	<select id="getTop4ByBroswer" resultMap="top4Map">
		SELECT broswer_name,count(broswer_name) broswer_count
		FROM login_history
		GROUP BY broswer_name
		ORDER BY broswer_count DESC;
	</select>
	<select id="getAll" resultType="Integer">
		SELECT count(id)
		FROM login_history;
	</select>
</mapper>